body{
	color: #FFFFFF;
}

input{
	font-color:#FFFFFF;
	font-size: 1.2em;
    width: 100%;
    padding: 0.4em;
}

.box1{
	width:35em; 
	margin:0 auto;
	padding: 2em;
}

.box2{
	width: 50%;
	margin:0 auto;
	border: groove;
	border-color: #456666;
}

.mainbox{
	width: 100%;
	background-color: #424242;
}

.smallBox{
	width: 100%
	border:groove;	
	border-color: #FFFFFF;
	padding: 0.5em;
	background-color: #2D2828;
}

.miniBoxes{
	width: 100%;
	background-color: #212121;
}

#results li
{
    display: inline;
    list-style: none;
}